h1 {
  color: #60a5ff;
}
.container {
  background-color: #f7ff60;
}
body {
  background-color: #7a8ca3;
}
.navbar li{
  display: inline;
  background-image: url("https://goo.gl/images/7pRdb");
  float: inherit;
  display: block;
  width: 600px;
  text-rendering: geometricPrecision;
  position: static;
  bottom: 0;
  width: 55%;
}
a:visted {
  color: Blue
}

.name Y{
  color: yellow;
}

.name B{
  color: blue;
}

.name G{
  color: grey;
}
li a:hover {
  color: White;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: Yellow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #9774e3;
}
.active {
  background-color: #4CAF50;
}
div {
  text-align: justify;
}
h1 {
  text-shadow: 3px 2px White;
}
p {
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
  font-style: oblique;
}
h4 {
  font-size: 32px;
  font-weight: bolder;
}
