h1 {
  color: #60a5ff;
}
.container {
  background-color: #f7ff60;
}
body {
  background-color: #7a8ca3;
}
.navbar li{
  display: inline;
  background-image: url("https://goo.gl/images/7pRdbj");

}
.login {
  float: right;
}

.login a {
  cursor: pointer;
  margin-right:30px;
  padding: 8px 18px;
  border: 1px solid #204156;
  position: relative;
  border-color: #9774e3;
  border-width: 5px;
}
.login a:active {
  top: 5px;
  color:#9774e3;
}
a:visted {
  color: Blue
}
